/* @import url("https://fonts.google.com/specimen/Josefin+Sans"); */

:root {
  --bg_light:  hsl(236, 33%, 92%);
  --bg_dark: hsl(235, 21%, 11%);

  --bg_lst_light: white;
  --bg_lst_dark: hsl(235, 24%, 19%);

  --blue:hsl(220, 98%, 61%);

  --light_gray: hsl(236, 9%, 61%);
  --dark_gray: hsl(235, 19%, 35%);
  
  /* --bg_color: hsl(236, 33%, 92%); */
  /* --bg_color: hsl(233, 11%, 84%); */
  /* --bg_color: hsl(236, 9%, 61%); */
  /* --bg_color: hsl(235, 19%, 35%); */

  /* --bg_dark: hsl(235, 24%, 19%); */
}
/* 
- Very Light Gray: hsl(0, 0%, 98%)
- Very Light Grayish Blue: hsl(236, 33%, 92%)
- Light Grayish Blue: hsl(233, 11%, 84%)
- Dark Grayish Blue: hsl(236, 9%, 61%)
- Very Dark Grayish Blue: hsl(235, 19%, 35%)

  - Bright Blue: hsl(220, 98%, 61%)
  - Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)


  - Very Dark Blue: hsl(235, 21%, 11%)
- Very Dark Desaturated Blue: hsl(235, 24%, 19%)
- Light Grayish Blue: hsl(234, 39%, 85%)
- Light Grayish Blue (hover): hsl(236, 33%, 92%)
- Dark Grayish Blue: hsl(234, 11%, 52%)
- Very Dark Grayish Blue: hsl(233, 14%, 35%)
- Very Dark Grayish Blue: hsl(237, 14%, 26%)


  list_font_color: light => dark
  separator_color: light => dark
  list_background: light => dark
  */

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Josefin Sans";
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
